<input type="checkbox" id="my-modal" class="modal-toggle" />
<label for="my-modal" class="modal cursor-pointer">
  <label class="modal-box relative" for="">
    <%= render partial: "/rooms/form", locals: { room: @room } %>
  </label>
</label>