<div class="text-sm overflow-y-auto h-96" >
  <%= turbo_stream_from "messages" %>
  <div id="messages">
    <% @messages.each do |message| %>
      <%= render partial: 'partials/message', locals: { message: message } %>
    <% end %>
  </div>
</div>