<h1>Editing video room</h1>

<%= render "form", video_room: @video_room %>

<br>

<div>
  <%= link_to "Show this video room", @video_room %> |
  <%= link_to "Back to video rooms", video_rooms_path %>
</div>
