@import "actiontext.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "font-awesome";

/*
 *= require actiontext
 */

@layer components {
    .sidebar-icon{
        @apply relative flex items-center justify-center
                h-12 w-12 mt-2 mb-2 mx-auto shadow-lg
                hover:bg-primary hover:text-neutral
                rounded-3xl hover:rounded-xl
                transition-all duration-100 ease-linear
                cursor-pointer;
    }
    .sidebar-tooltip{
        @apply absolute w-auto p-2 m-2 min-w-max left-14
        rounded-md shadow-md
        text-white bg-primary-focus
        text-sm font-bold
        transition-all duration-100 scale-0 origin-left;
    }
}

@layer utilities {
    .scrollbar::-webkit-scrollbar {
      width: 10px;
      height: 10px;
    }
  
    .scrollbar::-webkit-scrollbar-track {
      border-radius: 100vh;
      background: #000000;
    }
  
    .scrollbar::-webkit-scrollbar-thumb {
      background: #868686;
      border-radius: 100vh;
      border: 3px solid #000000;
    }
  
    .scrollbar::-webkit-scrollbar-thumb:hover {
      background: #c0a0b9;
    }
  }

  